@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #ddd;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 12px;
  --font-micro: 10px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Universal tags */

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

#header {
  /* background-color: #73aace; */
  /* border: #000 solid 2px; */
}

.header__logo {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  font-size: 40px;
  color: #009900;
  font-weight: bold;
}

.header__caption {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 17px;
  margin-bottom: 15px;
}

.searchbar {
  width: auto;
  height: 50px;
  position: sticky;
  top: 0;
  background-color: #009900;
  padding: 10px 0px 10px 0px;
  color: white;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchbar__search-input {
  width: 500px;
  height: 40px;
  padding-left: 10px;
}

#searchbar__search-btn {
  width: 50px;
  height: 40px;
}

#searchbar__init-btn {
  width: 100px;
  height: 40px;
  margin-left: 10px;
}

#main {
  width: auto;
  /* min-height: 700px; */
  min-height: 100%;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  border: 1px solid;
}

.sidebar {
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
}

#banners {
  width: 200px;
  display: flex;
  flex-direction: column;
}

#banners > img {
  margin: 2px;
  border: 1px solid;
}

.content {
  /* background-color: yellow; */
  padding: 10px;
  width: 100%;
  margin-left: 10px;
  margin-top: 2px;
  margin-right: 2px;
  border: 1px solid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  /* justify-content: space-between;
  flex-wrap: wrap; */
}

#footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  height: 50px;
}

.content > section {
  /* width: 30%; */
  /* min-width: 300px; */
  border: 1px solid;
}

.content > section > header {
  height: 50px;
  margin-bottom: 10px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Product */
.product-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  grid-template-columns: 20% auto 20% 20%;
  border: 1px solid;
  margin-top: 5px;
}

.product-item-img-wrap {
  /* max-width: 100px; */
}

#product-img {
  /* display: block;
	width: 100%;
	height: auto; */
}

.product-item-info {
  min-width: 100px;
  padding: 10px;
  font-size: var(--font-small);
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-item-price-cart-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-item-price-wrap {
  min-width: 100px;
  font-size: var(--font-small);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}

.product-item-cart-wrap {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}

.product-item-cart-wrap-inner {
  margin-bottom: 5px;
}

#cartCounter {
  width: 20px;
  max-width: 20px;
}
